[Unit]
Description=Bluzelle daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User={{ runuser }}
ExecStart=/go/bin/blzd start

[Install]
WantedBy=multi-user.target